body{
    background: black;
    background-image: url("https://lp-cms-production.imgix.net/2021-02/shutterstockRF_787331263.jpg");
    background-size: auto;
    color: black;
}




#buttons ul{
    alignment: center;
}


#buttons li {
    float: left;
    alignment: center;
    list-style: none;
    text-align: center;
    background-color: green;
    margin-right: 5px;
    width: 150px;
    line-height: 60px;
}

#buttons li a{
    text-decoration: none;
    color: #FFFFFF;
    display: block;
}