body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("https://lp-cms-production.imgix.net/2021-02/shutterstockRF_787331263.jpg");
    background-size: 2000px;
}

.mainTitle{
    color: black;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
    border-style: solid;
    border-color: black;
    width: 175px;
}

.navbar{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    font-weight: bold;
    height: 40px;
    padding: 10px;
    width: 100%;
}

#navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
}

#navbar li a{
    padding: 10px;
    display: block;
    text-decoration: none;
    font-weight: bold;
    width: 18%;
    text-align: center;
    color: black;
    background-color: lightcoral;
    float: left;
    border-style: solid;
}

#navbar li a:hover{
    background-color: indianred;
}

.activeTab {
    background-color: crimson !important;
}

.content{
    border-style: solid;
    background: rgba(255,255,255,0.5);
    border-color: lightcoral;
    width: 96.5%;
    height: 700px;
    margin-top: 20px;
    padding: 10px;
}

.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column{
    display: flex;
    flex-direction: column;
    flex: 1;
}

#text{
    font-size: 18px;
}

.images{
    margin-left: 50px;
}

.images img{
    margin-top: 20px;
    height: 250px;
    width: 375px;
    border-color: lightcoral;
    border-style: solid;
}

.images p{
    font-size: 16px;
    font-weight: bold;
    margin-top: -5px;
}

iframe{
    margin-top: 20px;
    height: 250px;
    width: 375px;
    border-color: lightcoral;
    border-style: solid;
}

.logo{
    width: 25px;
    height: 25px;
    padding-top: 20px;
    padding-left: 5px;
}

#linkedin{
    width: 100px;
    height: 25px;
    padding-top: 20px;
    padding-left: 5px;
}

label{
    font-weight: bold;
    font-size: 20px;
    width: 500px;
}

#question{
    width: 500px;
    height: 50px;
}

#list{
    padding: 0;
    margin-right: 100px;
}

#list li{
    list-style-type: none;
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

#list li p{
    font-size: 18px;
    font-weight: normal;
}